#menu{
    background-color: #e4cf4b;
    position: fixed;
    height: 100%;
    width: 230px;
    float: left;
    align-items: center;

}
#categorias{
    color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
}
#boton{
    display: block;
    height: 50px;
    width: 200px;
    padding-top: 5px;
    outline: none;
    border: 1px solid rgb(118, 103, 11);
    background-color: #404040;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    transition: all .25s;
    z-index: 1;
    position: relative;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
#boton::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to right, rgb(118, 103, 11), rgb(118, 103, 11));
    transition: all .25s;
    z-index: -1;
    font-family: Arial, Helvetica, sans-serif;
}
#boton:hover{
    border-radius: 1px solid transparent;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
#boton:hover::before{
    height: 100%;
}
.wrapper .button{
    display: inline-block;
    height: 75px;
    width: 73px;
    margin: 0 5px;
    overflow: hidden;
    background: #26193a;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-out;
}
.wrapper .button:hover{
    width: 200px;
}
.wrapper .button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
}
.wrapper .button .icon i{
    font-size: 30px;
    line-height: 60px;
    color: #fff;
    justify-content: center;
    padding-left: 17px;
    padding-top: 5px;

}
.wrapper .button span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;

}
/* #UserI{
    height: 75px;
    width: 73px;
    border-radius: 80px;
    padding-right: 10px;
    padding-left: 20px;
    border: #26193A;
    background-color: #26193A;
    top: 0;
    left: 0;
}
#UserI:hover{
    width: 200px;
    padding-top: 4px;
    transition: all .25s;
    top: 0;
    left: 0;
}
#ImaUser{
    color: #fff;
    padding-top: 15px;

} */
#Escrito{
    visibility: hidden;
}
#logo{
    height: 91px;
    width: 91px;
    border:#ffff;
    border-color: aqua;
}
#Logo1{
    height: 398px;
    width: 398px;
    display: block;
    margin: auto;
    margin-top: 150px;

}
#fondo{
    background-color: #404040;
}
#fondosl{
    background-color: #404040;
}
#cuadro{
    background-color: #ffff;
}
#cubo{
    padding: 10px;
    /*padding-right: 10px;
    padding-left: 72px;*/
    top: 0;
    left: 0;
    display: block;
}
#busqueda{
    padding-top: 35px;
    padding-left: 180px;
        
}
#buscar{
    height: 43px;
    width: 756px;
    background-color: #404040;
    border-color: #707070;
    padding: 12px;
}
.splash{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #404040;
    z-index: 200;
}
.splash.display-none{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #404040;
    z-index: -10;
    transition: all 0.5s;
}

@keyframes fadeIn{
    to{
        opacity: 1;
    }
}
.fade-in{
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}
#prueba{
    color: #fff;
}
#BotonIncio{
    float: right;
}
#sert
{
    text-align: center;
}
.videossss
{
    margin: 0;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center ;
    color: #fff;
}
.titulos
{
    margin: 0;
    top: 0;
    left: 0;
    display: flex;
    justify-content: left ;
    color: #fff;
}
.redes{
    height: 30px;
    width: 30px;
    display: block;
    margin: auto;
    margin-top: 50px;
}
/* Apartado para el inicio de sesion */
.login-box{
    width: 800px;
    height: 560px;
    background: #6B6B6B;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    align-items: center;
}
.login-box .avatar{
    width: 130px;
    height: 130px;
    position: absolute;
    top: -61px;
    left: 45%; 
}
.login-box h2{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 25px;
}
.login-box label{
    margin: 0;
    padding: 0;
    display: block;
}
.login-box input{
    width: 390px;
    height: 44px;
    border-radius: 10px;
    margin-bottom: 20px;
    justify-content: center;
    margin-left: 10px;
    opacity: 55%;
}
#loginfomr{
    margin-top: 25px;
    text-align: center;
}
#icons{
    color: #fff;
}
#iniboton{
    display: block;
    outline: none;
    margin-left: 191px;
    width: 390px;
    height: 44px;
    border: 1px solid rgb(38, 25, 58);
    background-color: #6B6B6B;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: all .25s;
    z-index: 1;
    position: relative;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
#iniboton::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to right, rgb(38, 25, 58), rgb(38, 25, 58));
    border-radius: 10px;
    transition: all .25s;
    z-index: -1;
    font-family: Arial, Helvetica, sans-serif;
}
#iniboton:hover{
    border-radius: 1px solid transparent;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
#iniboton:hover::before{
    height: 100%;
}
.login-box a{
    margin-top: 100px;
    margin-left: 41px;
    color: #fff
}
.login-box a:hover{
    color: #e4cf4b;
    text-decoration: none;
}
/* Apartado del registro */
#linea{
    border-left: 4px solid #fff;
    height: 600px;
    top: 50px;
    opacity: 60%;
    align-items: center;
    justify-content: center;
    left: 120px;
}
#imgRegistro{
    height: 370px;
    width: 370px;
    margin: 0;
    align-items: center;
    left: 10px;
}
#contenedorImg{
    margin: auto;
    align-items: center;
    text-align: center;
    padding-left: 20px;
}
#contenedorForm{
    justify-content: center;
    right: auto;
    left: auto;
    margin: 0;
    top: 80px;
    align-items: center;
    padding-right: 220px;
    color: #fff;
}
.register-box input{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    justify-content: center;
    margin-left: 10px;
    opacity: 55%;
    align-items: center;
}
.register-box span{
    display: inline-table;
    padding-left: 15px;
    text-indent: -15px;
}
#Regisbuton{
    display: block;
    outline: none;
    margin-left: 30px;
    width: 300px;
    height: 40px;
    border: 1px solid rgb(228, 207, 75);
    background-color: #404040;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: all .25s;
    z-index: 1;
    position: relative;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
#Regisbuton::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to right, rgb(228, 207, 75), rgb(228, 207, 75));
    border-radius: 10px;
    transition: all .25s;
    z-index: -1;
    font-family: Arial, Helvetica, sans-serif;
}
#Regisbuton:hover{
    border-radius: 1px solid transparent;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
#Regisbuton:hover::before{
    height: 100%;
}
.register-box a{
    margin-left: 120px;
    justify-content: center;
    color: #fff;
}
.register-box a:hover{
    color: #e4cf4b;
    text-decoration: none;
}


    